---
import { Aside } from "@astrojs/starlight/components";

import AnchorHeading from "./AnchorHeading.astro";
import RSSButton from "./RSSButton.astro";
import Details from "./Details.astro";

import { getCollection } from "astro:content";
import { getChangelogs } from "~/util/changelog";

const changelogs = await getChangelogs({});
const productsInChangelog = changelogs.flatMap((entry) =>
	entry.data.products.map((product) => product.id)
);

const products = await getCollection("products", (entry) => {
	return productsInChangelog.includes(entry.id);
});

const productsByGroup = Object.entries(
	Object.groupBy(
		products.filter((product) => Boolean(product.data.product.group)),
		(product) => product.data.product.group
	)
).sort();
---

<AnchorHeading depth={3} title="Feeds específicos de cada producto" />

<p>
	Cloudflare también ofrece canales RSS para áreas o productos específicos en el <a
		href="/changelog/">registro de cambios</a
	>.
</p>

{
	productsByGroup.map(([group, products]) => (
		<>
			<AnchorHeading depth={4} title={group} />
			<p>
				<RSSButton changelog={group} />
			</p>
			<Details header="Included products">
				<ul>
					{products?.map((product) => (
						<li>
							<p>
								<a href={product.data.product.url}>
									{product.data.product.title}
								</a>
							</p>
							<RSSButton changelog={product.id} />
						</li>
					))}
				</ul>
			</Details>
		</>
	))
}
